{{ define "content" }}

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>{{ .ContentDetails.Name }}</h1>
            <p>More information about your dashboard</p>
        </div>
    </header>


    <div class="row text-center">

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="{{ .ContentDetails.Image }}" alt="{{ .ContentDetails.Name }}">
            <div class="card-body">
                <h3 class="card-title">{{ .ContentDetails.Description }}</h3>
            </div>
        </div>
        </div>
        
    </div>


</div>

{{ end }}
