<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
   
   <h1>Data Source Connection</h1>
   <ul>
       <li><a href="#" data-toggle="modal" data-target="#myMongo">mongoDB</a></li>
       <li><a href="#" data-toggle="modal" data-target="#myPostgre">PostgreSQL</a></li>
       <li><a href="#" data-toggle="modal" data-target="#mySQL">MySQL</a></li>
       <li><a href="#" data-toggle="modal" data-target="#myFirestone">Firestone</a></li>
   </ul>
    
</body>
</html>
