{{ define "topsidebar" }}

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            {{if .LogInUser}}
            <li class="nav-item">
                <a class="nav-link" href="/Dashboard">Dashboard</a>
            </li>
            {{end}}
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        
        <form class="form-inline my-2 my-lg-0" action="/userID/search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <ul class="navbar-nav navbar-right">
           {{if not .LogInUser}}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Sign Up</a>
            </li>
            {{else}}
            
            <li class="nav-item">
                <a class="nav-link" href="/Profile">{{.LogInUser.Name}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>

            {{end}}
        </ul>

    </div>
</nav>


{{ end }}
