{{ define "topsidebar" }}

<nav class="navbar navbar-expand-md navbar-light bg-light" id="mainNavbar">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            {{if .LogInUser}}
            <li class="nav-item">
                <a class="nav-link" href="/Dashboard">Dashboard</a>
            </li>
            {{end}}
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        
        

        <ul class="navbar-nav navbar-right">
           {{if not .LogInUser}}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Sign Up</a>
            </li>
            {{else}}
            
            <li class="nav-item">
                <a class="nav-link" href="/Profile">{{.LogInUser.Name}}
                    {{if .LogInUser.IsAdmin}}
                    <sup class="text-primary"><i>admin</i></sup>
                    {{end}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>

            <form class="form-inline m-0 p-0" action="/Dashboard" method="GET">
                <input class="form-control fas bg-light rounded-0 border-top-0 border-right-0 border-left-0 m-0 p-0" type="search" id="dsearch" name="dsearch" placeholder="&#xf002" aria-label="Search">
            </form>

            {{end}}

            <!-- <form class="form-inline my-2 my-lg-0" action="/Dashboard" method="GET">
                <input class="form-control mr-sm-2" type="search" id="dsearch" name="dsearch" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->

            
        </ul>

    </div>
</nav>


{{ end }}
