{{ define "content" }}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">DataSource</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img class="card-img-top" src="{{ .ContentDetails.Image }}" alt="{{ .ContentDetails.Name }}">
                <div class="card-body">

                    <div class="caption">
                        <h4 class="float-right">$9.00/day</h4>
                        <h4><a>{{ .ContentDetails.Name }}</a></h4>
                        <p>{{ .ContentDetails.Description }}</p>
                        {{if eq .User.Email .LogInUser.Email}}
                        <a class="btn btn-warning" href="/Dashboard/show/{{ .ContentDetails.ID }}/edit">Edit</a>
                        <form class="d-inline-flex" action="/Dashboard/show/{{ .ContentDetails.ID }}" method="post">
                            <!--              this is used to override the post method-->
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                        {{end}}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="text-right">
                        <a class="btn btn-success" href="/Dashboard/show/{{ .ContentDetails.ID }}/Comments/New">Add New Comment</a>
                    </div>
                    <hr>
                    {{if .Comments}}
                    {{range .Comments}}
                    <div class="row">
                        <div class="col-md-12">
                            <strong>{{ .Author }}</strong>
                            <span class="float-right">10 days ago</span>
                            <p>
                                {{ .Comment }}
                            </p>
                        </div>
                    </div>

                        {{if eq .User.Email .LogInUser.Email}}
                            <a class="btn btn-warning" href="/Dashboard/show/{{ .ContentDetails.ID }}/Comments/show/{{ .Comments.ID }}/edit">Edit</a>
                            <form class="d-inline-flex" action="/Dashboard/show/{{ .ContentDetails.ID }}" method="post">
                                <!--              this is used to override the post method-->
                                <input type="hidden" name="_method" value="DELETE">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        {{end}}

                    {{end}}
                    {{end}}


                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}
