{{ define "topsidebar" }}

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainNavbar">

    <a id="sidebarCollapse" class="nav-link" href="#">
        <span class="fas fa-bars"></span>
    </a>

    <a class="navbar-brand m-0 p-0 d-block d-sm-none" href="#">kRtrima</a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fas fa-bars"></span>
    </button>

    <div class="justify-content-between collapse navbar-collapse" id="navbarTogglerDemo02">

        <a class="nav-link m-0 p-0" href="/">Home</a>

        <a class="nav-link m-0 p-0" href="/Dashboard">Dashboard</a>

        <a class="nav-link m-0 p-0" href="#">About</a>




        
        {{if not .LogInUser}}
        
        <a class="nav-link m-0 p-0" href="/login">Login</a>
        
        <a class="nav-link m-0 p-0" href="/register">Sign Up</a>
        
        {{else}}
            
            <div class="dropdown m-0 p-0">
                <a class="nav-link m-0 p-0" href="#" id="logoutlink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Toggle navigation">{{.LogInUser.Name}}
                    {{if .LogInUser.IsAdmin}}
                    <sup class="text-primary m-0 p-0"><i>admin</i></sup>
                    {{end}}
                </a>

                <div class="dropdown-menu m-0 p-0" aria-labelledby="logoutlink">
                    <a class="nav-link m-0 p-0" href="/logout">Log Out</a>
                </div>

            </div>



            
            {{end}}
            

            <form class="form-inline m-0 p-0" action="/Dashboard" method="GET">
                <input class="form-control fas bg-light rounded-0 border-top-0 border-right-0 border-left-0 m-0 p-0" type="search" id="dsearch" name="dsearch" placeholder="&#xf002" aria-label="Search">
            </form>

    </div>
</nav>


{{ end }}
