{{ define "topsidebar" }}

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <!--    <a class="navbar-brand" href="#">kRtrima</a>-->
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li id="sidebarCollapse" class="nav-item">
            <a class="nav-link" href="#">
                <span class="fas fa-bars"></span>
            </a>
        </li>
    </ul>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fas fa-bars"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        
        <form class="form-inline my-2 my-lg-0" action="/userID/search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <ul class="navbar-nav navbar-right">
           {{if not .LogInUser}}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Sign Up</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/Profile">{{.LogInUser.Name}}</a>
            </li>
            {{end}}
        </ul>

    </div>
</nav>


{{ end }}
